<form align="center" action="#" enctype="multipart/form-data" method="POST">
    <p>Upload PDF : <input type="name" placeholder="name of pdf" id="name" name="name" />
        <br />
    </p>
    <p>Upload PDF : <input type="file" placeholder="PDF" id="pdf" name="pdf" />
        <br />
    </p>
    <p>Topics: <input type="text" placeholder="topics seperated with spaces and use underscores where spaces needed"
            id="topic" name="topic" />
        <br />
    </p>



    <br>
    <br>
    <br>
    <input type="submit" id="button" value="Sign-up" /><br /><br />
    <p>OR</p>


</form>