{% extends "base.html" %}
  
{% block title %}PDFARE {% endblock%}

{% block content %}

                <section class="about-uss" id="aboutUs">
                    <div class="container">
                        <h1 style="font-size: 60px; color: aliceblue;" class="section-heading animate__animated animate__bounce animate__delay-2s">About <span style="color: #38d39f;">Us</span></h1>
                        <div class="about-uss-wrap flex">
                            <div class="flex-1">
                                <img src="../Login/photos/book2.png" alt="">
                            </div>
                            <div  class="flex-1">
                                <h2 style="font-family: 'poppins'; color: antiquewhite;">The Best We Do is Creating <br> Enviroment And Platform To study</h2>
                                <p>We build and developed the place where you can find all the neccessary items
                                    like pdf, notes, books and many more. We help to make you thrive in your
                                    path to future.</p>
                                <button class="btn btn-secondary" onclick="location.href='../Login/About.php'"">Read More</button>
                            </div>
                        </div>
                    </div>
        </section>
{% endblock%}

