<form align="center" action="#" method="POST">
    <p>Enter your E-Mail : <input type="email" placeholder="  e-mail" id="email" name="email" />
        <br />
    </p>
    <p>Enter your Name : <input type="text" placeholder="Name" id="firstName" name="firstName" />
        <br />
    </p>
    <p>Enter a username : <input type="text" placeholder="unique username" id="username" name="username" />
        <br />
    </p>
    <p>Enter your Password : <input type="password" placeholder="  password..." id="password1" name="password1" /><br />
    </p>
    <p>Re-enter Password : <input type="password" placeholder=" Confirm password..." id="password2"
            name="password2" /><br /></p>
    
    <br>
    <br>
    <br>
    <input type="submit" id="button" value="Sign-up" /><br /><br />
    <p>OR</p>


</form>
<a href="/">Already have an account?<input type="button" id="button" name="search" value="Log In" /><br /></a>